# Binaries
bin/
*.exe
*.exe~
*.dll
*.so
*.dylib

# Test and coverage
*.test
*.out
coverage.txt

# Dependency directories
vendor/

# OS specific files
.DS_Store
.DS_Store?
._*
Thumbs.db

# IDEs
.idea/
.vscode/
*.swp
*.swo

# Env files
.env
.env.local

# Project specific
todo/
data/
test-repo/
update-checker-api-*
yk-update-checker-*
